{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<h1>
		Je suis la partie Admin</h1>
	{{app.user.email}}
	{% if is_granted('ROLE_ADMIN')%}
		<br>
		tu es Admin
	{% endif %}
{% endblock %}
